{% extends 'base.html' %}
{% block page_title %}
    Ticket Oluştur
{% endblock %}
{% block content %}
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
                Ticket Oluştur
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
          <div class="row">
              <div class="col-9">
                  <form method="POST">
                      {% csrf_token %}
                      <div class="row">
                      <div class="col">
                          <label for="subject">Konu <span class="text-danger">*</span></label>
                          <input type="text" id="subject" name="subject" class="form-control">
                      </div>
                      <div class="col">
                          <label for="id_category">Kategori <span class="text-danger">*</span></label>
                          {{form.category}}
                      </div>
                      <div class="col">
                          <label for="id_priority">Öncelik <span class="text-danger">*</span></label>
                          {{form.priority}}
                      </div>
                      </div>
                      <div class="col mt-3">
                          <label for="content">Mesajınız <span class="text-danger">*</span></label>
                          <textarea style="resize: none" name="content" class="form-control" id="content" cols="30" rows="10"></textarea>
                      </div>
                      <button type="submit" class="btn btn-outline-azure mt-3 w-full">Ticket Oluştur</button>
                  </form>
              </div>
              <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="ti ti-info-circle"></i> Bilgilendirme</h3>
                        </div>
                        <div class="card-body">Ticketlarınızı oluştururken ilgili birimi kategori kısmında doğru seçtiğinize dikkat ediniz</div>
                    </div>
              </div>
          </div>

      </div>
    </div>
{% endblock %}